---
- debug: msg="preparing ovs {{ item.0 }} from {{ item.1 }} @@ {{ item.2 }}"
  with_together:
    - "{{ ovs_info.name }}"
    - "{{ ovs_info.repo }}"
    - "{{ ovs_info.get('version', 'HEAD') }}"

- name: "git clone"
  git:
    repo: "{{ ovs_info.repo }}"
    dest: "{{ ovs_clone_dir }}/{{ ovs_info.dirname }}"
    depth: "{{ ovs_clone_depth }}"
    version: "{{ ovs_info.get('version', 'HEAD') }}"
    recursive: no
    update: no
